* {
    margin: 0;

}

.sectionHero {
    width: 100%;
    height: auto;
    background-image: url(/img/e-dirham.png);
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    padding: 40px 0px;
}

.sectionHero__content {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionHero__content h1 {
    padding: 20px;
}

.sectionHero__content h2 {
    width: 100%;
    text-align: center;
}

.sectionHero__content__button {
    width: auto;
    height: 5%;
    text-align: center;
    border: 5px solid #fff;
    border-radius: 10px;
    padding: 10px;
    margin-top: 50px;
}

.sectionHero__content__button h4 {
    margin: 0%;
    
}

.e-DirhamDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #303682;
}

.e-DirhamDescription h1 {
    padding: 30px;
    text-align: center;
    width: 100%;
}

.e-DirhamDescription p {
    text-align: center;
    width: 70%;
    padding: 30px 0px;
    word-wrap: break-word;
  white-space: normal;

}
.e-DirhamDescription img{
    width: 90%;
}
@media (min-width: 768px){
    .sectionHero{
        height: 90vh;
    }
    .sectionHero__content__button {
    width: 50%;

}
}